$orange: #FC8019;
$orange-hover: rgba(#FC8019, 0.65);
$light-orange: #FC8E32;
$charcoal: #3D4152;
$linen: #FFF2E7;
$silver: #B3B3B3;
$light-silver: #e4e4e4;
$white: #FFFFFF;
$black: #000000;
$red: #d52c2c;

$height-header: 70px;

$transition: 0.25s ease-in-out;

$transition_short: 0.1 ease-in-out;

$transition-bounce: 0.25s cubic-bezier(.52, .91, .81, 1.18);